.card-container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 376px;
    min-width: 250px;
    max-width: 75%;
    background: none;
    border: none;
    border-radius: 8px;
    transition: transform 0.02s ease-in;
    cursor: pointer;
}

.counter {
    color: var(--secondary-dark);
    font-weight: bold;
    font-size: 1.6rem;
    position: absolute;
    top: 5%;
    right: 3%;
    background-color: var(--accent);
    border-radius: 4px;
    padding: 0.5rem;
}

.hidden {
    display: none;
}

.hover {
    position: absolute;
    bottom: 25%;
}
.invalid {
    filter: grayscale();
    cursor: not-allowed;
}

@media (hover: hover) {
    .card-container:hover {
        transform: scale(1.02);
    }

    .invalid:hover {
        transform: scale(1);
    }
}

@media (max-width: 800px) {
    .card-container {
        min-height: 240px;
        min-width: 120px;
        max-width: 95%;
    }
}
